<h1>Products Search</h1>


<ul>
<%if @products.blank?%>
<p> No results for your search </p>
<%end%>
  <% @products.each do |product| %>
    <li>
      <h3>
        <%= link_to product.name, controller: "products", action: "show", id: product.id%>
      </h3>
    </li>
  <% end %>
</ul>