<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <button>
      <%= link_to "Select", product %>
    </button>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
